# Dependency directories
node_modules/
resources/

# Hugo build output
public/
hugo/
hugo.exe
hugo_stats.json

# Config artifacts
package-lock.json
go.sum
*.log

# System/IDE files
.DS_Store
.vscode/

static/files/clic_poster.pdf
content/publication/paper-media-mutations/conference-paper.pdf
node_modules/
